<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Data Updates</title>
</head>
<body>
    <h1>Real-Time Data Updates</h1>
    <div id="data">
        <p>Temperature: <span id="temperature">N/A</span> °C</p>
        <p>Humidity: <span id="humidity">N/A</span> %</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
